<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rendezvous.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC4EA0512D946C4200ADE8D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC4EA0622D946C4400ADE8D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC4EA06C2D946C4400ADE8D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
